<section id="contact" class="section-bg-light-blue">
  <img src="../../assets/logo.png" alt="Watermark Logo" class="watermark" />
  <div class="contact-info">
    <h1>Contact Us</h1>
    <p>We'd Love to Hear from You!</p>
    <p>
      If you have any questions, suggestions, or feedback, feel free to reach
      out to us. Our team is here to help and support you.
    </p>
    <h2>Reach us on our address:</h2>
    <p>ALFAYO NELSON HOPE FOUNDATION</p>
    <p>P. O BOX 645-80100</p>
    <p>MOMBASA</p>
    <h2>Email us on:</h2>
    <p>Alfayonelsonhopefoundation&#64;gmail.com</p>
    <h2>Call us on:</h2>
    <p>+254 775 100 229</p>
  </div>
  <div class="contact-form">
    <h3>Send Us a Message</h3>
    <form action="submit_message.php" method="post">
      <br /><input
        type="text"
        name="full_name"
        placeholder="Full Name"
        required
      />
      <br /><input type="text" name="ward" placeholder="Ward" required />
      <br /><input
        type="text"
        name="area_of_residence"
        placeholder="Area of Residence"
        required
      />
      <br /><textarea
        name="subject"
        placeholder="Subject/Issue"
        rows="4"
        required
      ></textarea>
      <br /><button type="submit">Submit</button>
    </form>
  </div>
</section>
