.nav-bar {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00afef;
}

.logo {
  height: 100px;
  margin-top: 20px;
}
.text
.menu-item {
  margin: 0 10px;
  font-size: large;
  color: azure;
}

.admin-icon-container {
  flex: 1;
  display: flex;
  /* justify-content: flex-end; */
}

.example-icon {
  margin-right: 8px;
  color: azure;
}

@media (max-width: 600px) {
  .menu-item {
    display: none;
  }
}
