/* Hero Section */
.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero-background {
  position: relative;
}

.hero-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
  z-index: 1;
}

.hero-background img {
  width: 100%;
  height: 50vh; /* Adjusted for responsiveness */
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%; /* Adjusted for responsiveness */
  padding: 20px;
  z-index: 2; /* Ensure the content is above the overlay */
  text-align: center;
}

.hero-content h1 {
  font-size: 1.5em; /* Adjusted for smaller screens */
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .hero-content h1 {
    font-size: 2em; /* Larger font for bigger screens */
  }

  .hero-background img {
    height: 70vh; /* Increase image height for larger screens */
  }
}

@media (min-width: 1024px) {
  .hero-content h1 {
    font-size: 3em; /* Even larger font for desktop */
  }

  .hero-background img {
    height: 80vh; /* Further increase image height */
  }
}

/* Hero Stats Section */
.hero-stats {
  background-color: #ec672c;
  display: grid;
  grid-template-columns: 1fr; /* Default single column */
  gap: 10px;
  padding: 20px;
}

@media (min-width: 768px) {
  .hero-stats {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
  }
}

@media (min-width: 1024px) {
  .hero-stats {
    grid-template-columns: repeat(3, 1fr); /* Three columns for large screens */
  }
}

.stat h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.stat p {
  font-size: 1em;
}

/* About Section */
.about {
  position: relative;
  text-align: center;
  color: white;
}

.about-background {
  position: relative;
}

.about-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* White background with high opacity */
  z-index: 1;
}

.about-background img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
  position: relative;
  z-index: 0;
}

.about-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%; /* Adjusted for responsiveness */
  padding: 20px;
  z-index: 2; /* Ensure the content is above the overlay */
  text-align: center;
}

.about-content h1 {
  font-size: 1.2em; /* Adjusted for smaller screens */
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .about-content h1 {
    font-size: 1.5em; /* Larger font for medium screens */
  }
}

@media (min-width: 1024px) {
  .about-content h1 {
    font-size: 2em; /* Even larger font for large screens */
  }
}
